<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'record/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />


    <title>Ahmet Burak</title>
</head>
<body>
<div class="center">
    <div>
        <h1>ahmet burak</h1>
        <br>
        <h1>özyurt</h1><br>
    <a href="https://github.com/ahmetveburak"><i class="fab fa-github fa-3x"></i></a>
    <a href="https://t.me/musaitbiyerde"><i class="fab fa-telegram fa-3x"></i></a>
    <a href="mailto:ahmetbozyurtt@gmail.com" ><i class="fas fa-at fa-3x"></i></a>
    </div>
    <hr>
    <h3>Developing Python & Learning C/C++</h3>
    <br>

</div>

<div class="cenbot">
<hr class="cenhr">
<h4>bg: my graffiti sketches</h4>
</div>


</body>
</html>
